<p>
  <strong>Title:</strong>
  <%= @album.title %> Album
</p>

<p>
  <div style='width: 500px; height:auto; margin:0 auto'>
    <%= image_tag(@album.image, style:'width:100%') %>
  <div>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.email.split('@')[0].capitalize %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
