<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @album.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.email.split('@')[0] %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
